<html>
    <h1>Individual</h1>
    <body>
        <ul>
                <%=message.user%>
                <br>
                <%=message.text%>
                <br>
                <%=message.added%>
                <br>
        </ul>
    </body>
</html>